/* You'll probably want to add some styles here */
#container {
	height:800px;
}

#mapDiv {
	height: 600px;
}

#head {
	font-size: 50px;
	text-align: center;
}

th, td {

	text-align: center;
}

table.table-striped {
	
}